.cart{
  display: flex;
  justify-content: space-between;
}

.cart-summary{
  width: 50%;
  padding: 15px;
}

.order-summary{
  height: 100vh;
  width: 40%;
  background-color: rgb(198, 194, 194);
  padding: 15px;
}

.cart-item-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.cart-item-card img{
  width: 100px;
}

.cart-quantity-container{
  display: flex;
  align-items: center;
}

.cart-quantity{
  border: 1px solid black;
  padding: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.quantity-btn{
  border: none;
  background-color: inherit;
  font-size: 18px;
  color: rgb(12, 12, 242);
}

.remove-btn{
  border:none;
  background-color: inherit;
  text-decoration: underline;
}

.continue-shopping-btn{
  background-color: inherit;
  padding: 4px;
  border: 1px solid rgb(216, 210, 210);
}

.checkout-btn{
  border:none;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(7, 7, 69);
  padding: 8px 12px;
}
