footer{
  display: flex;
  background-color: black;
  color: white;
}

.left-footer{
  width:50%;
  padding: 20px;
}

.right-footer{
  width:50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-links{
  display: flex;
  flex-direction: column;
}

.social-links ul{
  display: flex;
}
