header{
  width: 100%;
  min-height: 100vh;
  background-image: url(/src/assets/bg-image-homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.tagline-btn-centered{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline{
  width: 40%;
  text-align: center;
}


h1{
  font-size: 48px;
  margin-top: 40px;
  color: white;
}

.explore-btn{
  background-color: rgb(235, 180, 29);
  color: black;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 70px;
}
