.logo{
  width: 50px;
  height: 50px;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: white;
}

.nav-links{
  display: flex;
  margin-right: 145px;
}

li{
  list-style: none;
  margin: 0 20px 0 20px;
}

a{
  text-decoration: none;
  color: white;
}

.navbar-products{
  background-color: rgb(7, 7, 69);
}

.cart-link {
  position: relative;
  display: inline-block;
}

.cart-icon {
  font-size: 24px;
}

.cart-length {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
}
