.search-container{
  text-align: center;
  width: 300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-input{
  flex-grow: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: italic;
}

.search-input::placeholder {
  color: rgb(192, 189, 189);
}

.search-button {
  padding: 10px 20px;
  background-color: rgb(10, 10, 97);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #45a049;
}
