.badges-container{
  display: flex;
  justify-content: space-around;
  margin: 80px 0 80px 0;
}

.badge{
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(12, 12, 139, 0.739);
  padding: 15px;
  border-radius: 8px;
}

.badge img{
  width: 60px;
}

.badge h3{
  color: white;
  text-align: center;
}

.img-badge{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
