.trust-badges-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.badges-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 80px 0;
  gap: 20px;
}

.badge {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgb(230, 231, 246);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.badge:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.badge img {
  width: 80px;
}

.badge h3 {
  margin-top: 15px;
  color: #333;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.img-badge {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
